<div class="container mt-5 pt-5">
    <div class="row pt-5 mt-5">

        <div class="col-md-3 col-2 mt-5 mb-5 pb-5"></div>

        <div class="col-md-6 col-8 justify-content-center mb-5 pb-5">

            <div class="row text-center mb-3 ">
                <h1>Bienvenido a la pokedex</h1>
            </div>
            <div class="row mb-5 mt-3">
                <button class="w-100 btn bg-danger">
                    Ir a ver los primeros 151 Pokemon
                </button>    
            </div>
        </div>

        <div class="col-md-3 col-2" mt-5 mb-5 pb-5></div>


    </div>
</div>